---
---
<div class="z-1 w-screen h-fit bg-cadillac-600">
    <h1 class="m-[0rem] p-[2rem] text-center text-cadillac-200 font-[Phantom_Sans] text-xl italic">For teens, by teens | Made with &lt;3 by <a href="https://github.com/ScapularSteam">David (Pixelglide)</a> for Hack Club</h1>
</div>