---
const fuseringLogo = "/logos/fusering-logo-colour.svg";
---

<div
  class="z-3 md:h-[50vh] flex items-center justify-center bg-[url(/backgrounds/background_cube_pattern.png)] shadow-xl"
>
  <!-- Centre card for logo and title -->
  <div
    class="md:h-fit w-fit flex items-center justify-center flex-col md:flex-row md:bg-cadillac-600 rounded-4xl md:shadow-2xl p-[2rem] max-w-5xl mt-[4rem] mb-[4rem] md:m-[0rem]"
  >
    <img src={fuseringLogo} class="p-[2rem] lg:mt-[0rem]" />
    <h1 class="font-[Phantom_Sans] text-4xl text-horizon-50 font-Book">
      "Design a keyring get your keyring and a carabiner to hang it from!"
    </h1>
  </div>
</div>
