---
import ButtonBlue from "../reusable/buttonBlue.astro"
import ButtonRed from "../reusable/buttonRed.astro"
---

<div class="flex w-screen items-center justify-center shadow-lg">
  <div class="relative flex-col flex w-fit items-center justify-center h-fit top-0 mt-[3rem] mb-[3rem] md:mt-[0rem] md:mb-[0rem] md:flex-row">
    <ButtonRed link="/" text="Home"/>
    <ButtonRed link="/docs/fusering-guide.pdf" text="Read the Guide"/>
    <ButtonRed link="/gallery" text="Gallery"/>
    <ButtonRed link="https://forms.hackclub.com/fusering-workshop" text="Run a Workshop"/>
  </div>
</div>
