---
const fuseringLogo = "/logos/fusering-logo-colour.svg";
import ButtonBlueNoMargin from "../reusable/buttonBlueNoMargin.astro";
---

<div class="z-2 h-fit lg:h-[90vh] flex items-center justify-center">
  <div
    class="z-3 lg:h-[70vh] w-fit lg:w-[70vw] flex items-center justify-center flex-col lg:flex-row rounded-4xl p-[2rem] lg:m-[0rem]"
  >
    <div class="flex flex-col lg:w-[35vw] w-fit p-[2rem]">
      <h1
        class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-4xl"
      >
        Where's the gallery?
      </h1>
      <p
        class="w-full text-left mb-[2rem] text-horizon-200 font-[Phantom_Sans] text-xl"
      >
        It's a classic problem of the chicken and the egg! Before we can open
        the gallery, we need some of your projects to showcase first! Once we
        hit 50 submissions, we'll open the gallery for you all to see!
      </p>

      <h1
        class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-2xl"
      >
        How do I get my project in the gallery?
      </h1>
      <p
        class="w-full text-left mb-[2rem] text-horizon-200 font-[Phantom_Sans] text-xl"
      >
        Once you've submitted your project and we've approved it, the screenshot
        you sent to us will automatically be uploaded to the gallery for
        everyone to see, no extra steps required! <br /><br />As a reminder,
        here are the requirments to ship your keyring:
      </p>
    </div>
    <div class="flex flex-col lg:w-[35vw] w-fit p-[2rem]">
      <h1
        class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-2xl"
      >
        Requirements
      </h1>
      <p
        class="w-full text-left mb-[2rem] text-horizon-200 font-[Phantom_Sans] text-xl"
      >
        Want to get your keyring made, and get some carabiner clips to go with?
        Make sure you follow these requirements:
      </p>
      <ul>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            The logo you use is designed by you, and is unique.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            Your keyring is designed in Fusion or Onshape.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            You haven't used AI at any point, including logo design.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            The overall dimensions are no larger than 80mm x 80mm and the bottom
            face is flat for printing.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            You are in Middle or High School (i.e aged &lt;=18).
          </p>
        </li>
      </ul>
      <ButtonBlueNoMargin
        link="https://forms.hackclub.com/fusering"
        text="Submit your project here!"
      />
    </div>
  </div>
</div>
