---
import ButtonBlueNoMargin from "../reusable/buttonBlueNoMargin.astro";
---

<div class="z-2 h-fit lg:h-[90vh] flex items-center justify-center">
  <div
    class="z-3 lg:h-[70vh] w-fit lg:w-[70vw] flex items-center justify-center flex-col lg:flex-row rounded-4xl p-[2rem] lg:m-[0rem]"
  >
    <div class="flex flex-col lg:w-[35vw] w-fit p-[2rem]">
      <h1
        class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-4xl"
      >
        Hey there!
      </h1>
      <p
        class="w-full text-left mb-[2rem] text-horizon-200 font-[Phantom_Sans] text-xl"
      >
        Keyrings are awesome! They're a walking ad for your project, portfolio
        or event, and are simple to make! We'll teach you how to create one, and
        how to make things in Fusion along the way!
      </p>

      <h1
        class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-2xl"
      >
        Getting started!
      </h1>
      <p
        class="w-full text-left mb-[2rem] text-horizon-200 font-[Phantom_Sans] text-xl"
      >
        Never made anything in CAD before? Fusering is designed to be beginner
        friendly! All you need to get started is a logo that <strong
          class="text-horizon-50">you have made yourself</strong
        > to get started. <br /><br />Not sure how to make a logo, why not check
        out <a
          href="https://anchor.hackclub.com/"
          class="text-horizon-400 hover:underline">Anchor</a
        >? It's a YSWS that teaches you how to make a keyring in Figma, made by
        Acon!
      </p>
    </div>
    <div class="flex flex-col lg:w-[35vw] w-fit p-[2rem]">
      <h1
        class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-2xl"
      >
        Requirements
      </h1>
      <p
        class="w-full text-left mb-[2rem] text-horizon-200 font-[Phantom_Sans] text-xl"
      >
        Want to get your keyring made, and get some carabiner clips to go with?
        Make sure you follow these requirements:
      </p>
      <ul>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            The logo you use is designed by you, and is unique.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            Your keyring is designed in Fusion or Onshape.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            You haven't used AI at any point, including logo design.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            The overall dimensions are no larger than 80mm x 80mm and the bottom
            face is flat for printing.
          </p>
        </li>
        <li class="list-disc ml-[1rem] text-horizon-200">
          <p
            class="w-full text-left mb-[1rem] text-horizon-200 font-[Phantom_Sans] text-xl italic"
          >
            You are in Middle or High School (i.e aged &lt;=18).
          </p>
        </li>
      </ul>
      <ButtonBlueNoMargin
        link="https://forms.hackclub.com/fusering"
        text="Submit your project here!"
      />
    </div>
  </div>
</div>
