---
import Base from "../layouts/base.astro";
import GalleryComingSoon from "../components/content/galleryComingSoon.astro"
---
<Base>
    <div class="w-screen flex items-center justify-center">
        <GalleryComingSoon/>
    </div>
    
</Base>